data/raw/*.npz
data/processed/*.npy
logs/train/
logs/validation/
checkpoints/
reports/figures/panels/
reports/figures/images/
report/figures/movies/
notebooks/.ibynb_checkpoints/
.ibynb_checkpoints/
.vscode/
VisionEngine.egg-info/